[defaults]
inventory	= ./inventory/hosts
roles_path	= ./roles
log_path	= ./log/ansible.log

[privilege_escalation]
become	= True
become_method	= sudo
become_user	= root
become_ask_pass	= False

[ssh_connection]
scp_if_ssh	= True

